/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
$darkred:#fa4b2a;
$white:#fff;
$grey:#333;
$black:#000;
$blue:#292484;
$orange:#dc4225;
$darkblue:#002f4b;
$green:#417711;
$violet:#a83279;
$yellow:#e0be00;
$lightgrey:#555;
$footergrey:#999;
body {
    margin: 0;
    font-size: 16px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

#wrapper {
    width: 100%;
}

#head_wrapper {
    width: 100%;
    height: 4rem;
    background-color: $darkred;
    position: relative;
    top: 0;
}

.ham_burg {
    width: 2rem;
    height: 1.5rem;
    text-align: center;
    margin: 1rem 0.5rem 1rem 1rem;
    float: left;
    .ham_burg_div {
        margin: 0.3rem;
        width: 100%;
        height: 0.3rem;
        background-color: $white;
    }
}

.ham_burg:hover {
    cursor: pointer;
}

.logo {
    width: 40%;
    display: inline-block;
    margin-top: 0.5rem;
}

.logo_image {
    width: 100%;
    height: 3rem;
}

.line {
    width: 0.1rem;
    height: 3.5rem;
    float: right;
    background-color: $white;
    margin: 0.3rem;
}

.article {
    float: right;
    color: $white;
    :hover {
        cursor: pointer;
    }
}

.count {
    font-size: 2rem;
    text-align: center;
}

#unclick_right,
#unclick_left {
    background: linear-gradient(135deg, $black, $white);
    opacity: 0.9;
    position: absolute;
    top: 0px;
    bottom: 0px;
    z-index: 2;
}

#nav_bar_list {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 12.5rem;
    background-color: $grey;
    color: white;
    z-index: 3;
    border-right: 2px solid $orange;
}

.hide_left {
    left: -13.5rem;
    width: 12.5rem;
}

.expand_left {
    left: 0;
    width: 100%;
}

.slide_left {
    left: -13.5rem;
    transition: 1s;
}

.slider_left {
    left: 0rem;
    transition: 1s;
}

#login {
    height: 4rem;
    text-align: center;
    line-height: 4rem;
    border-bottom: 1px solid $white;
    background-color: $black;
}

#login:hover,
.nav_item:hover {
    color: $orange;
}

#profile {
    width: 2rem;
    height: 2rem;
    float: left;
    margin: 1rem 0 0 1rem;
}

.nav_item {
    height: 3rem;
    line-height: 3rem;
    background-color: $grey;
    text-transform: uppercase;
}

#news_articles {
    position: absolute;
    top: 0rem;
    bottom: 0rem;
    width: 15rem;
    background-color: $white;
    z-index: 2;
    border-left: 2px solid $orange;
}

.hide_right {
    width: 15rem;
    right: -15.5rem;
}

.expand_right {
    width: 100%;
    right: 0;
}

.slide_right {
    right: -15.5rem;
    transition: 1s;
}

.slider_right {
    right: 0rem;
    transition: 1s;
}

.head_date {
    width: 8rem;
    background-color: $darkred;
    color: $white;
    margin: 1rem;
    padding: 0.1rem .25rem;
    font-size: 0.9rem;
}

.news_list_item {
    width: 14rem;
    color: $black;
    padding: 0.5rem 1rem;
    span {
        font-size: 0.8rem;
    }
    a {
        color: $black;
        display: block;
    }
    a:hover {
        color: $darkred;
    }
}

.ham_burg_icon {
    color: white;
    float: left;
    line-height: 2rem;
}

#content_wrapper {
    width: 100%;
}

.breaking_news {
    width: 100%;
    height: 11rem;
    a:hover {
        .top_news::after {
            opacity: 0.9;
        }
    }
}

.top_news {
    position: relative;
    height: 11rem;
    margin: 0;
    padding: 0;
    width: 100%;
}

.top_news::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
}

#top_1 {
    background: url(../Images/hooverdam.jpg);
    background-size: 100% 100%;
}

#top_1::after {
    background: linear-gradient(135deg, $blue, $orange);
}

#top_2 {
    background: url(../Images/phone.jpg);
    background-size: 100% 100%;
}

#top_2::after {
    background: linear-gradient(135deg, $darkblue, $green);
}

#top_3 {
    background: url(../Images/group.jpg);
    background-size: 100% 100%;
}

#top_3::after {
    background: linear-gradient(135deg, $blue, $violet);
}

#past_news {
    width: 100%;
    height: 12rem;
    position: relative;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}

#scroll_1,
#scroll_2,
#scroll_3 {
    display: inline-block;
    width: 19rem;
    margin-right: -4px;
}

#scroll_1 {
    background: url(../Images/reddit.jpg);
    background-size: 100% 100%;
}

#scroll_1::after {
    background: linear-gradient(135deg, $blue, $orange);
}

#scroll_2 {
    background: url(../Images/win8.jpg);
    background-size: 100% 100%;
}

#scroll_2::after {
    background: linear-gradient(135deg, $yellow, $orange);
}

#scroll_3 {
    background: url(../Images/smartwatch.jpg);
    background-size: 100% 100%;
}

#scroll_3::after {
    background: linear-gradient(135deg, $green, $orange);
}

.news_heading {
    padding: 2rem 1rem;
    font-size: 1.4rem;
    color: $white;
    text-align: left;
    line-height: 1.2;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    position: relative;
    top: -11rem;
}

.reporter {
    font-size: 1rem;
    color: $white;
    text-align: left;
    padding-left: 1rem;
    position: relative;
    top: -11rem;
}

.breaking_news_scroll {
    display: inline-block;
    width: 19rem;
    margin-right: -4px;
    height: 11rem;
    white-space: normal;
    a:hover {
        .top_news::after {
            opacity: 0.9;
        }
    }
}

#news_list_tab {
    display: none;
}

.news_list_item_1 {
    margin-top: 0.3rem;
}

.news_item_1_image {
    padding: 1rem;
    width: 5rem;
    display: table-cell;
    img {
        width: 5rem;
        height: 5rem;
    }
}

.news_item_div {
    display: table-cell;
    vertical-align: top;
    padding-top: 1rem;
}

.news_item_details {
    padding-top: 0.5rem;
    strong,
    em {
        font-size: 0.8rem;
    }
}

.news_item_1_head {
    a {
        color: $grey;
        font-size: 1.2rem;
    }
}

.see_all_news {
    text-align: center;
    padding: 2rem 0;
    font-size: 1.5rem;
    a {
        color: $darkred;
    }
    a:hover {
        text-decoration: underline;
    }
}

#scroll {
    padding: 1rem 0rem;
    width: 100%;
    text-align: center;
    background-color: $lightgrey;
    color: $white;
    cursor: pointer;
}

#foot_wrapper {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: $black;
}

.search_box {
    padding: 2rem 0;
}

.search {
    width: 80%;
    margin: 0% 10%;
    height: 3rem;
    font-size: 1rem;
}

.links_col_1 {
    float: left;
    width: 50%;
    background-color: $black;
}

.links_item {
    color: $footergrey;
    padding: 1rem 0.5rem 0 0;
}

.links_item:hover {
    color: $white;
}

.links_col_2 {
    float: right;
    width: 50%;
    background-color: $black;
    height: 320px;
}

.links_social {
    ul {
        text-align: center;
    }
}

.social_icons {
    display: inline-block;
    background-color: $white;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    margin: 2rem 0.2rem;
    text-align: center;
}

.vox_corner {
    text-align: center;
    padding-bottom: 2.1rem;
    img {
        width: 9.5rem;
        height: 9.5rem;
        margin-top: -3.1rem;
    }
    p {
        text-align: center;
        color: $white;
        margin-top: -3.1rem;
    }
    span {
        color: $darkred;
    }
    
}
.statements,.links_col_3,
    .logo_search {
        display: none;
    }

@media screen and (min-width:500px) {
    .links_social,
    .logo_search, .statements {
        display: none;
    }
    .links_col_1,
    .links_col_2 {
        float: none;
    }
    .links_col {
        width: 33.3%;
        display: inline-block;
        vertical-align: top;
    }
    .links_col_3 {
        display: inline-block;
    }
}

@media screen and (min-width:600px) {
    .news_list_mob,
    .search_box,
    #scroll {
        display: none;
    }
    #news_list_tab {
        display: block;
    }
    .news_tab_item {
        width: 43%;
        display: inline-block;
        margin-right: -4px;
        vertical-align: top;
        padding: 2.5rem 1.2rem;
        border-bottom: 0.5px solid #ddd;
        h3 {
            font-size: 1.5rem;
            line-height: 1.2;
        }
        em {
            font-size: 0.8rem;
        }
        a {
            color: $black;
        }
        a:hover {
            text-decoration: underline;
            color: $darkred;
        }
    }
    .news_border_left {
        border-left: 0.5px solid #ddd;
    }
    .news_border_right {
        border-right: 0.5px solid #ddd;
    }
    .news_tab_image {
        width: 90%;
        text-align: center;
        margin: 2rem 1rem;
    }
    .news_tab_text {
        margin: 0rem 1rem;
    }
    .logo_search {
        display: inline-block;
        vertical-align: top;
        width: 30%;
        padding: 1rem;
    }
    .links_col_1,
    .links_col_2,
    .links_col_3 {
        width: 20%;
    }
    .search {
        width: 100%;
        margin: 0;
    }
    .vox_corner {
        text-align: right;
        p {
            text-align: right;
        }
    }
    .links_head {
        color: $white;
        font-size: 1.2rem;
        padding-top: 1rem;
        i {
            color: $darkred;
        }
    }
    .statements {
        display: block;
        float: left;
        font-size: 0.8rem;
        margin: 1.3rem;
        a {
            color: $darkred;
            display: block;
        }
        a:hover {
            text-decoration: underline;
        }
        p {
            color: $white;
        }
    }
}
