/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 19, ../sass/screen.scss */
body {
  margin: 0;
  font-size: 16px;
  overflow-x: hidden;
}

/* line 25, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 29, ../sass/screen.scss */
#wrapper {
  width: 100%;
}

/* line 33, ../sass/screen.scss */
#head_wrapper {
  width: 100%;
  height: 4rem;
  background-color: #fa4b2a;
  position: relative;
  top: 0;
}

/* line 41, ../sass/screen.scss */
.ham_burg {
  width: 2rem;
  height: 1.5rem;
  text-align: center;
  margin: 1rem 0.5rem 1rem 1rem;
  float: left;
}
/* line 47, ../sass/screen.scss */
.ham_burg .ham_burg_div {
  margin: 0.3rem;
  width: 100%;
  height: 0.3rem;
  background-color: white;
}

/* line 55, ../sass/screen.scss */
.ham_burg:hover {
  cursor: pointer;
}

/* line 59, ../sass/screen.scss */
.logo {
  width: 40%;
  display: inline-block;
  margin-top: 0.5rem;
}

/* line 65, ../sass/screen.scss */
.logo_image {
  width: 100%;
  height: 3rem;
}

/* line 70, ../sass/screen.scss */
.line {
  width: 0.1rem;
  height: 3.5rem;
  float: right;
  background-color: white;
  margin: 0.3rem;
}

/* line 78, ../sass/screen.scss */
.article {
  float: right;
  color: white;
}
/* line 81, ../sass/screen.scss */
.article :hover {
  cursor: pointer;
}

/* line 86, ../sass/screen.scss */
.count {
  font-size: 2rem;
  text-align: center;
}

/* line 92, ../sass/screen.scss */
#unclick_right,
#unclick_left {
  background: linear-gradient(135deg, #000000, #ffffff);
  opacity: 0.9;
  position: absolute;
  top: 0px;
  bottom: 0px;
  z-index: 2;
}

/* line 101, ../sass/screen.scss */
#nav_bar_list {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 12.5rem;
  background-color: #333333;
  color: white;
  z-index: 3;
  border-right: 2px solid #dc4225;
}

/* line 112, ../sass/screen.scss */
.hide_left {
  left: -13.5rem;
  width: 12.5rem;
}

/* line 117, ../sass/screen.scss */
.expand_left {
  left: 0;
  width: 100%;
}

/* line 122, ../sass/screen.scss */
.slide_left {
  left: -13.5rem;
  transition: 1s;
}

/* line 127, ../sass/screen.scss */
.slider_left {
  left: 0rem;
  transition: 1s;
}

/* line 132, ../sass/screen.scss */
#login {
  height: 4rem;
  text-align: center;
  line-height: 4rem;
  border-bottom: 1px solid white;
  background-color: black;
}

/* line 141, ../sass/screen.scss */
#login:hover,
.nav_item:hover {
  color: #dc4225;
}

/* line 145, ../sass/screen.scss */
#profile {
  width: 2rem;
  height: 2rem;
  float: left;
  margin: 1rem 0 0 1rem;
}

/* line 152, ../sass/screen.scss */
.nav_item {
  height: 3rem;
  line-height: 3rem;
  background-color: #333333;
  text-transform: uppercase;
}

/* line 159, ../sass/screen.scss */
#news_articles {
  position: absolute;
  top: 0rem;
  bottom: 0rem;
  width: 15rem;
  background-color: white;
  z-index: 2;
  border-left: 2px solid #dc4225;
}

/* line 169, ../sass/screen.scss */
.hide_right {
  width: 15rem;
  right: -15.5rem;
}

/* line 174, ../sass/screen.scss */
.expand_right {
  width: 100%;
  right: 0;
}

/* line 179, ../sass/screen.scss */
.slide_right {
  right: -15.5rem;
  transition: 1s;
}

/* line 184, ../sass/screen.scss */
.slider_right {
  right: 0rem;
  transition: 1s;
}

/* line 189, ../sass/screen.scss */
.head_date {
  width: 8rem;
  background-color: #fa4b2a;
  color: white;
  margin: 1rem;
  padding: 0.1rem .25rem;
  font-size: 0.9rem;
}

/* line 198, ../sass/screen.scss */
.news_list_item {
  width: 14rem;
  color: black;
  padding: 0.5rem 1rem;
}
/* line 202, ../sass/screen.scss */
.news_list_item span {
  font-size: 0.8rem;
}
/* line 205, ../sass/screen.scss */
.news_list_item a {
  color: black;
  display: block;
}
/* line 209, ../sass/screen.scss */
.news_list_item a:hover {
  color: #fa4b2a;
}

/* line 214, ../sass/screen.scss */
.ham_burg_icon {
  color: white;
  float: left;
  line-height: 2rem;
}

/* line 220, ../sass/screen.scss */
#content_wrapper {
  width: 100%;
}

/* line 224, ../sass/screen.scss */
.breaking_news {
  width: 100%;
  height: 11rem;
}
/* line 228, ../sass/screen.scss */
.breaking_news a:hover .top_news::after {
  opacity: 0.9;
}

/* line 234, ../sass/screen.scss */
.top_news {
  position: relative;
  height: 11rem;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 242, ../sass/screen.scss */
.top_news::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
}

/* line 252, ../sass/screen.scss */
#top_1 {
  background: url(../Images/hooverdam.jpg);
  background-size: 100% 100%;
}

/* line 257, ../sass/screen.scss */
#top_1::after {
  background: linear-gradient(135deg, #292484, #dc4225);
}

/* line 261, ../sass/screen.scss */
#top_2 {
  background: url(../Images/phone.jpg);
  background-size: 100% 100%;
}

/* line 266, ../sass/screen.scss */
#top_2::after {
  background: linear-gradient(135deg, #002f4b, #417711);
}

/* line 270, ../sass/screen.scss */
#top_3 {
  background: url(../Images/group.jpg);
  background-size: 100% 100%;
}

/* line 275, ../sass/screen.scss */
#top_3::after {
  background: linear-gradient(135deg, #292484, #a83279);
}

/* line 279, ../sass/screen.scss */
#past_news {
  width: 100%;
  height: 12rem;
  position: relative;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}

/* line 290, ../sass/screen.scss */
#scroll_1,
#scroll_2,
#scroll_3 {
  display: inline-block;
  width: 19rem;
  margin-right: -4px;
}

/* line 296, ../sass/screen.scss */
#scroll_1 {
  background: url(../Images/reddit.jpg);
  background-size: 100% 100%;
}

/* line 301, ../sass/screen.scss */
#scroll_1::after {
  background: linear-gradient(135deg, #292484, #dc4225);
}

/* line 305, ../sass/screen.scss */
#scroll_2 {
  background: url(../Images/win8.jpg);
  background-size: 100% 100%;
}

/* line 310, ../sass/screen.scss */
#scroll_2::after {
  background: linear-gradient(135deg, #e0be00, #dc4225);
}

/* line 314, ../sass/screen.scss */
#scroll_3 {
  background: url(../Images/smartwatch.jpg);
  background-size: 100% 100%;
}

/* line 319, ../sass/screen.scss */
#scroll_3::after {
  background: linear-gradient(135deg, #417711, #dc4225);
}

/* line 323, ../sass/screen.scss */
.news_heading {
  padding: 2rem 1rem;
  font-size: 1.4rem;
  color: white;
  text-align: left;
  line-height: 1.2;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  position: relative;
  top: -11rem;
}

/* line 334, ../sass/screen.scss */
.reporter {
  font-size: 1rem;
  color: white;
  text-align: left;
  padding-left: 1rem;
  position: relative;
  top: -11rem;
}

/* line 343, ../sass/screen.scss */
.breaking_news_scroll {
  display: inline-block;
  width: 19rem;
  margin-right: -4px;
  height: 11rem;
  white-space: normal;
}
/* line 350, ../sass/screen.scss */
.breaking_news_scroll a:hover .top_news::after {
  opacity: 0.9;
}

/* line 356, ../sass/screen.scss */
#news_list_tab {
  display: none;
}

/* line 360, ../sass/screen.scss */
.news_list_item_1 {
  margin-top: 0.3rem;
}

/* line 364, ../sass/screen.scss */
.news_item_1_image {
  padding: 1rem;
  width: 5rem;
  display: table-cell;
}
/* line 368, ../sass/screen.scss */
.news_item_1_image img {
  width: 5rem;
  height: 5rem;
}

/* line 374, ../sass/screen.scss */
.news_item_div {
  display: table-cell;
  vertical-align: top;
  padding-top: 1rem;
}

/* line 380, ../sass/screen.scss */
.news_item_details {
  padding-top: 0.5rem;
}
/* line 383, ../sass/screen.scss */
.news_item_details strong,
.news_item_details em {
  font-size: 0.8rem;
}

/* line 389, ../sass/screen.scss */
.news_item_1_head a {
  color: #333333;
  font-size: 1.2rem;
}

/* line 395, ../sass/screen.scss */
.see_all_news {
  text-align: center;
  padding: 2rem 0;
  font-size: 1.5rem;
}
/* line 399, ../sass/screen.scss */
.see_all_news a {
  color: #fa4b2a;
}
/* line 402, ../sass/screen.scss */
.see_all_news a:hover {
  text-decoration: underline;
}

/* line 407, ../sass/screen.scss */
#scroll {
  padding: 1rem 0rem;
  width: 100%;
  text-align: center;
  background-color: #555555;
  color: white;
  cursor: pointer;
}

/* line 416, ../sass/screen.scss */
#foot_wrapper {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: black;
}

/* line 423, ../sass/screen.scss */
.search_box {
  padding: 2rem 0;
}

/* line 427, ../sass/screen.scss */
.search {
  width: 80%;
  margin: 0% 10%;
  height: 3rem;
  font-size: 1rem;
}

/* line 434, ../sass/screen.scss */
.links_col_1 {
  float: left;
  width: 50%;
  background-color: black;
}

/* line 440, ../sass/screen.scss */
.links_item {
  color: #999999;
  padding: 1rem 0.5rem 0 0;
}

/* line 445, ../sass/screen.scss */
.links_item:hover {
  color: white;
}

/* line 449, ../sass/screen.scss */
.links_col_2 {
  float: right;
  width: 50%;
  background-color: black;
  height: 320px;
}

/* line 457, ../sass/screen.scss */
.links_social ul {
  text-align: center;
}

/* line 462, ../sass/screen.scss */
.social_icons {
  display: inline-block;
  background-color: white;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  margin: 2rem 0.2rem;
  text-align: center;
}

/* line 472, ../sass/screen.scss */
.vox_corner {
  text-align: center;
  padding-bottom: 2.1rem;
}
/* line 475, ../sass/screen.scss */
.vox_corner img {
  width: 9.5rem;
  height: 9.5rem;
  margin-top: -3.1rem;
}
/* line 480, ../sass/screen.scss */
.vox_corner p {
  text-align: center;
  color: white;
  margin-top: -3.1rem;
}
/* line 485, ../sass/screen.scss */
.vox_corner span {
  color: #fa4b2a;
}

/* line 491, ../sass/screen.scss */
.statements, .links_col_3,
.logo_search {
  display: none;
}

@media screen and (min-width: 500px) {
  /* line 497, ../sass/screen.scss */
  .links_social,
  .logo_search, .statements {
    display: none;
  }

  /* line 501, ../sass/screen.scss */
  .links_col_1,
  .links_col_2 {
    float: none;
  }

  /* line 504, ../sass/screen.scss */
  .links_col {
    width: 33.3%;
    display: inline-block;
    vertical-align: top;
  }

  /* line 509, ../sass/screen.scss */
  .links_col_3 {
    display: inline-block;
  }
}
@media screen and (min-width: 600px) {
  /* line 517, ../sass/screen.scss */
  .news_list_mob,
  .search_box,
  #scroll {
    display: none;
  }

  /* line 520, ../sass/screen.scss */
  #news_list_tab {
    display: block;
  }

  /* line 523, ../sass/screen.scss */
  .news_tab_item {
    width: 43%;
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    padding: 2.5rem 1.2rem;
    border-bottom: 0.5px solid #ddd;
  }
  /* line 530, ../sass/screen.scss */
  .news_tab_item h3 {
    font-size: 1.5rem;
    line-height: 1.2;
  }
  /* line 534, ../sass/screen.scss */
  .news_tab_item em {
    font-size: 0.8rem;
  }
  /* line 537, ../sass/screen.scss */
  .news_tab_item a {
    color: black;
  }
  /* line 540, ../sass/screen.scss */
  .news_tab_item a:hover {
    text-decoration: underline;
    color: #fa4b2a;
  }

  /* line 545, ../sass/screen.scss */
  .news_border_left {
    border-left: 0.5px solid #ddd;
  }

  /* line 548, ../sass/screen.scss */
  .news_border_right {
    border-right: 0.5px solid #ddd;
  }

  /* line 551, ../sass/screen.scss */
  .news_tab_image {
    width: 90%;
    text-align: center;
    margin: 2rem 1rem;
  }

  /* line 556, ../sass/screen.scss */
  .news_tab_text {
    margin: 0rem 1rem;
  }

  /* line 559, ../sass/screen.scss */
  .logo_search {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    padding: 1rem;
  }

  /* line 567, ../sass/screen.scss */
  .links_col_1,
  .links_col_2,
  .links_col_3 {
    width: 20%;
  }

  /* line 570, ../sass/screen.scss */
  .search {
    width: 100%;
    margin: 0;
  }

  /* line 574, ../sass/screen.scss */
  .vox_corner {
    text-align: right;
  }
  /* line 576, ../sass/screen.scss */
  .vox_corner p {
    text-align: right;
  }

  /* line 580, ../sass/screen.scss */
  .links_head {
    color: white;
    font-size: 1.2rem;
    padding-top: 1rem;
  }
  /* line 584, ../sass/screen.scss */
  .links_head i {
    color: #fa4b2a;
  }

  /* line 588, ../sass/screen.scss */
  .statements {
    display: block;
    float: left;
    font-size: 0.8rem;
    margin: 1.3rem;
  }
  /* line 593, ../sass/screen.scss */
  .statements a {
    color: #fa4b2a;
    display: block;
  }
  /* line 597, ../sass/screen.scss */
  .statements a:hover {
    text-decoration: underline;
  }
  /* line 600, ../sass/screen.scss */
  .statements p {
    color: white;
  }
}
