/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 19, ../sass/screen.scss */
body {
  margin: 0;
  font-size: 16px;
  overflow-x: hidden;
}

/* line 25, ../sass/screen.scss */
#wrapper {
  width: 100%;
}

/* line 29, ../sass/screen.scss */
#head_wrapper {
  width: 100%;
  height: 4rem;
  background-color: #fa4b2a;
  position: relative;
  top: 0;
}

/* line 37, ../sass/screen.scss */
.ham_burg {
  width: 2rem;
  height: 1.5rem;
  text-align: center;
  margin: 1rem 0.5rem 1rem 1rem;
  float: left;
}
/* line 43, ../sass/screen.scss */
.ham_burg .ham_burg_div {
  margin: 0.3rem;
  width: 100%;
  height: 0.3rem;
  background-color: white;
}

/* line 51, ../sass/screen.scss */
.ham_burg:hover {
  cursor: pointer;
}

/* line 55, ../sass/screen.scss */
.logo {
  width: 40%;
  display: inline-block;
  margin-top: 0.5rem;
}

/* line 61, ../sass/screen.scss */
.logo_image {
  width: 100%;
  height: 3rem;
}

/* line 66, ../sass/screen.scss */
.line {
  width: 0.1rem;
  height: 3.5rem;
  float: right;
  background-color: white;
  margin: 0.3rem;
}

/* line 74, ../sass/screen.scss */
.article {
  float: right;
  color: white;
}
/* line 77, ../sass/screen.scss */
.article :hover {
  cursor: pointer;
}

/* line 82, ../sass/screen.scss */
.count {
  font-size: 2rem;
  text-align: center;
}

/* line 87, ../sass/screen.scss */
#unclick_right,
#unclick_left {
  background: linear-gradient(135deg, #000000, #ffffff);
  opacity: 0.9;
  position: absolute;
  top: 0px;
  bottom: 0px;
  z-index: 2;
}

/* line 96, ../sass/screen.scss */
#nav_bar_list {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 12.5rem;
  background-color: #333333;
  color: white;
  z-index: 3;
  border-right: 2px solid #dc4225;
}

/* line 107, ../sass/screen.scss */
.hide_left {
  left: -13.5rem;
  width: 12.5rem;
  transition: 1s;
}

/* line 113, ../sass/screen.scss */
.expand_left {
  left: 0;
  width: 100%;
  transition: 1s;
}

/* line 119, ../sass/screen.scss */
.slide_left {
  left: -13.5rem;
  transition: 1s;
}

/* line 124, ../sass/screen.scss */
.slider_left {
  left: 0rem;
  transition: 1s;
}

/* line 129, ../sass/screen.scss */
#login {
  height: 4rem;
  text-align: center;
  line-height: 4rem;
  border-bottom: 1px solid white;
  background-color: black;
}

/* line 138, ../sass/screen.scss */
#login:hover,
.nav_item:hover {
  color: #dc4225;
}

/* line 142, ../sass/screen.scss */
#profile {
  width: 2rem;
  height: 2rem;
  float: left;
  margin: 1rem 0 0 1rem;
}

/* line 149, ../sass/screen.scss */
.nav_item {
  height: 3rem;
  line-height: 3rem;
  background-color: #333333;
  text-transform: uppercase;
}

/* line 156, ../sass/screen.scss */
#news_articles {
  position: absolute;
  top: 0rem;
  bottom: 0rem;
  width: 15rem;
  background-color: white;
  z-index: 2;
  border-left: 2px solid #dc4225;
}

/* line 166, ../sass/screen.scss */
.hide_right {
  width: 15rem;
  right: -15.5rem;
  transition: 1s;
}

/* line 172, ../sass/screen.scss */
.expand_right {
  width: 100%;
  right: 0;
  transition: 1s;
}

/* line 178, ../sass/screen.scss */
.slide_right {
  right: -15.5rem;
  transition: 1s;
}

/* line 183, ../sass/screen.scss */
.slider_right {
  right: 0rem;
  transition: 1s;
}

/* line 188, ../sass/screen.scss */
.head_date {
  width: 8rem;
  background-color: #fa4b2a;
  color: white;
  margin: 1rem;
  padding: 0.1rem .25rem;
  font-size: 0.9rem;
}

/* line 197, ../sass/screen.scss */
.news_list_item {
  width: 14rem;
  color: black;
  padding: 0.5rem 1rem;
}
/* line 201, ../sass/screen.scss */
.news_list_item span {
  font-size: 0.8rem;
}
/* line 204, ../sass/screen.scss */
.news_list_item a {
  text-decoration: none;
  color: black;
  display: block;
}
/* line 209, ../sass/screen.scss */
.news_list_item a:hover {
  color: #fa4b2a;
}

/* line 214, ../sass/screen.scss */
.ham_burg_icon {
  color: white;
  float: left;
  line-height: 2rem;
}

/* line 220, ../sass/screen.scss */
#content_wrapper {
  width: 100%;
}

/* line 224, ../sass/screen.scss */
.breaking_news {
  width: 100%;
  height: 11rem;
}
/* line 227, ../sass/screen.scss */
.breaking_news a {
  text-decoration: none;
}
/* line 231, ../sass/screen.scss */
.breaking_news a:hover .top_news::after {
  opacity: 0.9;
}

/* line 237, ../sass/screen.scss */
.top_news {
  position: relative;
  height: 11rem;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 245, ../sass/screen.scss */
.top_news::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
}

/* line 255, ../sass/screen.scss */
#top_1 {
  background: url(../Images/hooverdam.jpg);
  background-size: 100% 100%;
}

/* line 260, ../sass/screen.scss */
#top_1::after {
  background: linear-gradient(135deg, #292484, #dc4225);
}

/* line 264, ../sass/screen.scss */
#top_2 {
  background: url(../Images/phone.jpg);
  background-size: 100% 100%;
}

/* line 269, ../sass/screen.scss */
#top_2::after {
  background: linear-gradient(135deg, #002f4b, #417711);
}

/* line 273, ../sass/screen.scss */
#top_3 {
  background: url(../Images/group.jpg);
  background-size: 100% 100%;
}

/* line 278, ../sass/screen.scss */
#top_3::after {
  background: linear-gradient(135deg, #292484, #a83279);
}

/* line 282, ../sass/screen.scss */
#past_news {
  width: 100%;
  height: 12rem;
  position: relative;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}

/* line 293, ../sass/screen.scss */
#scroll_1,
#scroll_2,
#scroll_3 {
  display: inline-block;
  width: 19rem;
  margin-right: -4px;
}

/* line 299, ../sass/screen.scss */
#scroll_1 {
  background: url(../Images/reddit.jpg);
  background-size: 100% 100%;
}

/* line 304, ../sass/screen.scss */
#scroll_1::after {
  background: linear-gradient(135deg, #292484, #dc4225);
}

/* line 308, ../sass/screen.scss */
#scroll_2 {
  background: url(../Images/win8.jpg);
  background-size: 100% 100%;
}

/* line 313, ../sass/screen.scss */
#scroll_2::after {
  background: linear-gradient(135deg, #e0be00, #dc4225);
}

/* line 317, ../sass/screen.scss */
#scroll_3 {
  background: url(../Images/smartwatch.jpg);
  background-size: 100% 100%;
}

/* line 322, ../sass/screen.scss */
#scroll_3::after {
  background: linear-gradient(135deg, #417711, #dc4225);
}

/* line 326, ../sass/screen.scss */
.news_heading {
  padding: 2rem 1rem;
  font-size: 1.4rem;
  color: white;
  text-align: left;
  line-height: 1.2;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  position: relative;
  top: -11rem;
}

/* line 337, ../sass/screen.scss */
.reporter {
  font-size: 1rem;
  color: white;
  text-align: left;
  padding-left: 1rem;
  position: relative;
  top: -11rem;
}

/* line 346, ../sass/screen.scss */
.breaking_news_scroll {
  display: inline-block;
  width: 19rem;
  margin-right: -4px;
  height: 11rem;
  white-space: normal;
}
/* line 352, ../sass/screen.scss */
.breaking_news_scroll a {
  text-decoration: none;
}
/* line 356, ../sass/screen.scss */
.breaking_news_scroll a:hover .top_news::after {
  opacity: 0.9;
}

/* line 362, ../sass/screen.scss */
.news_list_item_1 {
  margin-top: 0.3rem;
}

/* line 366, ../sass/screen.scss */
.news_item_1_image {
  padding: 1rem;
  width: 5rem;
  display: table-cell;
}
/* line 370, ../sass/screen.scss */
.news_item_1_image img {
  width: 5rem;
  height: 5rem;
}

/* line 376, ../sass/screen.scss */
.news_item_div {
  display: table-cell;
  vertical-align: top;
  padding-top: 1rem;
}

/* line 382, ../sass/screen.scss */
.news_item_details {
  padding-top: 0.5rem;
}
/* line 385, ../sass/screen.scss */
.news_item_details strong,
.news_item_details em {
  font-size: 0.8rem;
}

/* line 391, ../sass/screen.scss */
.news_item_1_head a {
  text-decoration: none;
  color: #333333;
  font-size: 1.2rem;
}

/* line 397, ../sass/screen.scss */
.see_all_news {
  text-align: center;
  padding: 2rem 0;
  font-size: 1.5rem;
}
/* line 401, ../sass/screen.scss */
.see_all_news a {
  color: #fa4b2a;
  text-decoration: none;
}
/* line 405, ../sass/screen.scss */
.see_all_news a:hover {
  text-decoration: underline;
}

/* line 409, ../sass/screen.scss */
#scroll {
  padding: 1rem 0rem;
  width: 100%;
  text-align: center;
  background-color: #555555;
  color: white;
  cursor: pointer;
}

/* line 417, ../sass/screen.scss */
#foot_wrapper {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: black;
}

/* line 424, ../sass/screen.scss */
.search_box {
  padding: 2rem 0;
}

/* line 427, ../sass/screen.scss */
.search {
  width: 80%;
  margin: 0% 10%;
  height: 3rem;
  font-size: 1rem;
}

/* line 433, ../sass/screen.scss */
.links_col_1 {
  float: left;
  width: 50%;
  background-color: black;
}

/* line 438, ../sass/screen.scss */
.links_item {
  color: #999999;
  padding: 1rem 0.5rem 0 0;
}

/* line 443, ../sass/screen.scss */
.links_item:hover {
  color: white;
}

/* line 446, ../sass/screen.scss */
.links_col_2 {
  float: right;
  width: 50%;
  background-color: black;
  height: 320px;
}

/* line 452, ../sass/screen.scss */
.links_col_3 {
  display: none;
}

/* line 456, ../sass/screen.scss */
.links_social ul {
  text-align: center;
}

/* line 460, ../sass/screen.scss */
.social_icons {
  display: inline-block;
  background-color: white;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  margin: 2rem 0.2rem;
  text-align: center;
}

/* line 470, ../sass/screen.scss */
.vox_corner {
  text-align: center;
  padding-bottom: 2.1rem;
}
/* line 473, ../sass/screen.scss */
.vox_corner img {
  width: 9.5rem;
  height: 9.5rem;
  margin-top: -3.1rem;
}
/* line 478, ../sass/screen.scss */
.vox_corner p {
  text-align: center;
  color: white;
  margin-top: -3.1rem;
}
/* line 484, ../sass/screen.scss */
.vox_corner span {
  color: #fa4b2a;
}
